was_database.ipynb
was_database.csv
_pycache_/
.venv/
books.ipynb
WasAutores.csv
WasAutores.csv.csv:Zone.Identifier
WasLibros.csv
BaseDeDatos.csv
database3.csv

fourthBooks.json
secondAuthors.json
secondBooks.json
thirdBooks.json
database4.csv
finalDBSeedAutores.py
finalDBSeedLibros.py
finalBooksList.json
authors.json
books.json