**/node_modules/
# Keep environment variables out of version control
.env
amazonAPI.js
db_dumps

prisma/finalAuthorList.json
prisma/finalBooksList.json
prisma/thirdBooks.json
prisma/fourthBooks.json
prisma/authors.json
prisma/books.json
prisma/secondBooks.json
