.mulauth-adicional-instruciones {
  text-align: center;
}

.mulauth-line {
  margin: 0;
}

.mulauth-top-instrucciones {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  font-style: italic;
}

.mulauth-bottom-instrucciones {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.mulauth-mandatory {
  font-weight: bold;
}
