.transfer-dropdown {
  display: flex;
  justify-content: center;
  width: 80%;
}

.select-transfer {
  border-radius: 15px;
  border: 1px solid grey;
  padding-left: 0.2rem;
  margin-bottom: 0.5rem;
  margin-right: 0.5rem;
  width: 70%;
  color: grey;
  box-sizing: border-box;
}

.select-global:focus-visible {
  outline: none;
}

.additional-transfer-buttons {
  color: #4e6cb3;
  width: 10%;
  display: flex;
  justify-content: space-around;
  margin-top: 2px;
  padding-left: 0.5rem;
}

.transfer {
  margin-right: 0.25rem;
}
