#author-sales-container {
  padding-top: 100px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 20px;
  height: 100%;
  width: 90%;
}


#sales-container h2 {
  color: #333;
  margin-bottom: 20px;
}

#author-sales-content {
  display: flex;
  margin-bottom: 30px;
  gap: 20px;
}

#author-sales-content-left {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 100%;
  gap: 20px;
}

#author-sales-content-right {
  flex: 1;

}

#total-sales, #books-sold {
  padding: 20px;
  background-color: #f8f9fa;
  border-radius: 6px;
}

#books-sold {
  flex-grow: 1;
}

#total-sales h3, #books-sold h3 {
  color: #666;
  margin-bottom: 10px;
}

#total-sales p {
  font-size: 24px;
  font-weight: bold;
  color: #333;
}

#books-sold ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#books-sold li {
  padding: 8px 0;
  border-bottom: 1px solid #eee;
  color: #666;
}

#books-sold li:last-child {
  border-bottom: none;
}

#sales-chart {
  padding: 20px;
  background-color: #f8f9fa;
  border-radius: 6px;
}

.chart-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.chart-header h3 {
  margin: 0;
  color: #666;
}  