.books-sold-graph-line {
  background-color: #4E5981;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  // border-radius: 15px;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}

.bsgl-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
