.commission-month-selector {
  width: 30%;
  height: 100%;
  background-color: #f8f9fa;
  border-radius: 15px;
  margin: 1rem;
  padding: 1rem;
}

.cms-title h2 {
  margin: 0;
  margin-bottom: 1rem;
}
