.cms-row {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
  &:hover {
    cursor: pointer;
  }
}

.cms-row-active {
  background-color: #E2E2E2;
  border-radius: 15px;
  display: flex;
  padding: 0.5rem;
}

.cms-month {
  width: 30%;
}

.cms-status {
  width: 40%;
  text-align: center;
}

.cms-total {
  width: 30%;
  text-align: right;
}
