.delmod-confirm-other {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-bottom: 1rem;
}

.delmod-confirm-other p {
  margin: 0;
}

.dco-text {
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}