.delmod-overlay {
  z-index: 1000;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.delmod-proper {
  z-index: 2000;
  background-color: #E2E2E2;
  width: 30%;
  border-radius: 15px;
  padding: 1rem;
}

.delmod-confirm {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-bottom: 1rem;
}

.delmod-confirm p {
  margin: 0
}

.delmod-actions {
  display: flex;
  justify-content: center;
  align-items: center;
}

.delmod-button {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}
