.delivery-to-author-details {
  display: flex;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid grey;
}

.dtad-value {
  margin-right: 0.5rem;
}

.dtad-last {
  display: flex;
  padding-top: 0.5rem;
}
