.dempay-title {
  margin-bottom: 1rem;
}

.modal-form-file {
  margin-bottom: 0.5rem;
}

.centering-errors {
  display: flex;
  justify-content: center;
  text-align: center;
  padding-bottom: 1rem;
}