@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Roboto+Slab:wght@400;700&display=swap');

$prim-color: #4E5981;
$second-color: #4E6CB3;
$bg-color: #fff;
$bg-second-color: #E2E2E2;
$global-font: "Roboto";
$global-second-font: 'Roboto Slab';

html, body {
  background: $bg-second-color;
  background-image: url("./assets/triangles.png");
  background-size: cover;
  background-position: center;
  font-family: $global-font;
  height: 100%;
  margin: 0;
}

#root {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  // --user-font-size: 1rem;
}

a {
  text-decoration: none;
}

.contain {
  width: 100%;
  max-width: 1500px;
  display: flex;
  justify-content: center;
}

// Buttons

.blue-button {
  border-radius: 15px;
  border: none;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  background-color: $second-color;
  color: white;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  font-size: clamp(0.8rem, 1rem, 1.2rem);
}

.blue-button:hover {
  cursor: pointer;
}

.non-clickable:hover {
  cursor: text !important;
}

.blue-button-inactive {
  border: none;
  color: $second-color;
  text-decoration: underline;
  font-size: clamp(0.8rem, 1rem, 1.2rem);
}

.blue-button-inactive:hover {
  cursor: pointer;
}

.grey-button {
  border-radius: 15px;
  border: none;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  background-color: $bg-second-color;
  color: $prim-color;
  box-shadow: -1px -1px 1px #4E5981, 1px 1px 1px #fff inset;
  // font-size: clamp(0.8rem, 1rem, 1.2rem);
}

.grey-button:hover {
  cursor: pointer;
}

.navbar-button {
  border-radius: 15px;
  border: none;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  margin-right: 0.5rem;
  background-color: $prim-color;
  color: white;
  transition: 0.3s;
  // font-size: clamp(0.8rem, 1rem, 1.2rem);
}

.navbar-button:hover {
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5), -1px 0px 5px rgba(255, 255, 255, 0.5);
}

.active-button {
  background-color: #E2E2E2;
  color: #4E5981;
}

// Modals

.modal-overlay {
  z-index: 1000;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-proper {
  z-index: 2000;
  background-color: #E2E2E2;
  width: 30%;
  max-height: 90%;
  overflow-y: auto;
  border-radius: 15px;
  padding: 1rem;
}

.modal-actions {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-button {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.modal-form-line {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.modal-form-label {
  text-align: start;
  width: 70%;
  margin-bottom: 0.25rem;
  padding-left: 0.75rem;
  font-size: 0.85rem;
}

.modal-form-upload {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 1rem;
  width: 100%;
}

.modal-form-error {
  color: red;
}

.modal-birthday {
  display: flex;
  width: 70%
}

.birthday-day {
  width: 25% !important;
}

.birthday-month {
  width: 25% !important;
}

.birthday-year {
  width: 50% !important;
}

.modal-payment-amount {
  text-align: center;
  margin-bottom: 1.5rem;
}

.modal-payment-amount p {
  margin: 0;
  font-weight: bold;
}

.modal-phone {
  display: flex;
  width: 70%
}

.modal-edit-author {
  margin-top: 0.5rem;
}

/// Form

.global-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
  margin-top: 0.5rem;
  p {
    margin: 0px;
    color: $second-color;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
  }
}

.form-subtitle {
  font-weight: 200 !important;
  font-style: italic;
}

.campos-obligatorios {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
  p {
    margin: 0;
    font-style: italic;
    color: grey
  }
}

.campos-obligatorios-new-impressions {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-bottom: 1rem;
  p {
    margin: 0;
    font-style: italic;
    color: grey
  }
  padding: 0 0.5rem 0 0.5rem;
}

.harddel-checkbox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 0.5rem;
  p {
    margin: 0;
    font-style: italic;
    font-size: 0.9em;
  }
}

.harddel-confirm {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: justify;
  p {
    margin: 0;
    color: red;
  }
}

.harddel-icon {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  font-size: 1.5em;
}

.form-actions {
  margin-bottom: 0.5rem;
  margin-top: 1rem;
}

.form-actions-cat {
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}

.centered-entrega {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

/// Inputs

.global-input {
  border-radius: 15px;
  border: 1px solid grey;
  padding-left: 0.4rem;
  margin-bottom: 0.5rem;
  width: 70%;
  box-sizing: border-box;
  font-size: clamp(0.8rem, var(--user-font-size), 1.2rem);
}

.input-phone {
  border-radius: 15px;
  border: 1px solid grey;
  padding-left: 0.4rem;
  margin-bottom: 0.5rem;
  width: 62%;
  box-sizing: border-box;
  font-size: clamp(0.8rem, var(--user-font-size), 1.2rem);
}

.global-input:focus-visible {
  outline: none;
  box-shadow: 1px 1px 1px grey inset;
}

.select-global {
  border-radius: 15px;
  border: 1px solid grey;
  padding-left: 0.2rem;
  margin-bottom: 0.5rem;
  width: 70%;
  color: grey;
  box-sizing: border-box;
  font-size: clamp(0.8rem, var(--user-font-size), 1.2rem);
}

.select-global:focus-visible {
  outline: none;
}

.selected {
  color: black;
}

.select-phone {
  border-radius: 15px;
  border: 1px solid grey;
  padding-left: 0.2rem;
  margin-bottom: 0.5rem;
  width: 38%;
  color: grey;
  box-sizing: border-box;
  font-size: clamp(0.8rem, var(--user-font-size), 1.2rem);
}

/// Errors

.error-inputs {
  border: 1px solid red;
}

.login-errors {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 0.5rem;
  padding-top: 0.5rem;
  margin-bottom: 0.5rem;
  padding-bottom: 0.5rem;
}

.general-error {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  // margin-top: 0.5rem;
  // margin-bottom: 0.5rem;
  // padding-top: 0.5rem;
  // padding-bottom: 1.5rem;
}

.login-error {
  margin: 0;
  color: red;
  font-size: 1em;
}

/// Table
.table-add-button {
  padding: 0.5rem;
  padding-left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.table-button-inventories {
  padding: 0.5rem;
  padding-left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.table-button {
  margin-left: -0.4rem;
}

.table-clickable-row {
  color: #4E6CB3;
  text-decoration: underline;
  &:hover {
    cursor: pointer;
  }
}

/// Alerts

.alert-proper {
  z-index: 2000;
  background-color: #E2E2E2;
  width: 25%;
  border-radius: 15px;
  padding: 1rem;
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  bottom: 15px;
  right: -700px;
  transition: 0.3s;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
}

.slide {
  position: fixed;
  bottom: 15px;
  right: 15px;
}

.confirmation {
  background-color: #4E5981;
  color: #fff;
}

.warning {
  border: 1px solid orange;
}

.error {
  border: 1px solid red;
  background-color: #4E5981;
  color: #fff;
}

.alert-message {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.alert-warning-list {
  display: flex;
  flex-direction: column;
}

.button-alert-warning {
  margin-top: 1rem;
}

/// Tooltips

.tooltip-proper {
  z-index: 2000;
  background-color: #4e6cb3;
  color: white;
  border-radius: 15px;
  padding: 0.5rem;
  position: fixed;
  // width: 90px;
  // height: 40px;
  // top: 500px;
  // bottom: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  p {
    margin: 0
  }
}

.tooltip-message {
  font-size: 0.7em;
}

.hidden {
  display: none;
}

.fa-icon {
  font-size: 1rem;
}
