@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Roboto+Slab:wght@400;700&display=swap');

$prim-color: #4E5981;
$second-color: #4E6CB3;
$bg-color: #fff;
$bg-second-color: #E2E2E2;
$global-font: "Roboto";
$global-second-font: 'Roboto Slab';

html, body {
  background: $bg-second-color;
  background-image: url("/home/cordub/code/CorDub/WasEditorialBackend/frontend/src/assets/triangles.png");
  background-size: cover;
  background-position: center;
  font-family: $global-font;
  height: 100%;
  margin: 0;
}

#root {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

a {
  text-decoration: none;
}

// Buttons

.blue-button {
  border-radius: 15px;
  border: none;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  background-color: $second-color;
  color: white;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.blue-button:hover {
  cursor: pointer;
}

.grey-button {
  border-radius: 15px;
  border: none;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  background-color: $bg-second-color;
  color: $prim-color;
  box-shadow: -1px -1px 1px #4E5981, 1px 1px 1px #fff inset;
}

.grey-button:hover {
  cursor: pointer;
}

.navbar-button {
  border-radius: 15px;
  border: none;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  margin-right: 0.5rem;
  background-color: $prim-color;
  color: white;
  transition: 0.3s;
}

.navbar-button:hover {
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5), -1px 0px 5px rgba(255, 255, 255, 0.5);
}

.active-button {
  background-color: #E2E2E2;
  color: #4E5981;
}

// Modals

.modal-overlay {
  z-index: 1000;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-proper {
  z-index: 2000;
  background-color: #E2E2E2;
  width: 30%;
  border-radius: 15px;
  padding: 1rem;
}

.modal-actions {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-button {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

/// Form
.global-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 0.5rem;
  p {
    margin: 0px;
    color: $second-color;
    font-style: italic;
  }
}

.form-actions {
  padding-top: 0.5rem;
}

.harddel-checkbox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 0.5rem;
  p {
    margin: 0;
    font-style: italic;
    font-size: 0.9em;
  }
}

.harddel-confirm {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: justify;
  p {
    margin: 0;
    color: red;
  }
}

.harddel-icon {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  font-size: 1.5em;
}

/// Inputs

.global-input {
  border-radius: 15px;
  border: 1px solid grey;
  padding-left: 0.4rem;
  margin-bottom: 0.5rem;
  width: 70%;
  box-sizing: border-box
}

.global-input:focus-visible {
  outline: none;
  box-shadow: 1px 1px 1px grey inset;
}

.select-global {
  border-radius: 15px;
  border: 1px solid grey;
  padding-left: 0.2rem;
  margin-bottom: 0.5rem;
  width: 70%;
  color: grey;
  box-sizing: border-box;
}

.select-global:focus-visible {
  outline: none;
}

.selected {
  color: black;
}

/// Errors

.error-inputs {
  border: 1px solid red;
}

.login-errors {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.login-error {
  margin: 0;
  color: red;
  font-size: 0.9em;
}

/// Table
.table-add-button {
  padding: 0.5rem;
  padding-left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.table-button {
  margin-left: -0.4rem;
}

/// Alerts

.alert-proper {
  z-index: 2000;
  background-color: #E2E2E2;
  width: 25%;
  border-radius: 15px;
  padding: 1rem;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  bottom: 15px;
  right: -700px;
  transition: 0.3s;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
}

.slide {
  position: fixed;
  bottom: 15px;
  right: 15px;
}

.confirmation {
  background-color: #4E5981;
  color: #fff;
}

.warning {
  border: 1px solid orange;
}

.error {
  border: 1px solid red;
  background-color: #4E5981;
  color: #fff;
}

.alert-message {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

/// Tooltips

.tooltip-proper {
  z-index: 2000;
  background-color: #4e6cb3;
  color: white;
  border-radius: 15px;
  padding: 0.5rem;
  position: fixed;
  width: 90px;
  height: 40px;
  // top: 500px;
  // bottom: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.tooltip-message {
  font-size: 0.7em;
}

.hidden {
  display: none;
}
