.inventory-area-container {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

.areas-container {
  width: 100vw;
  height: calc(100vh - 50px);
  margin-top: 50px;
}

.inventory-area {
  position: absolute;
  border-radius: 15px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 0;
  transition: 0.5s;
  width: 0;
  height: 0;
}

.inventory-area-extended {
  transform: scale(1, 1);
}

.inventory-area:hover {
  cursor: pointer;
}

.inventory-name {
  margin-bottom: 0.5rem;
}

.inventory-logo {
  display: flex;
  justify-content: center;
}

.inventory-img {
  width: 100px;
  margin-bottom: 0.5rem;
}
