.areas-container {
  width: 100vw;
  height: calc(100vh - 50px);
  margin-top: 50px;
}

.inventory-area {
  position: absolute;
  border: 1px solid black;
  border-radius: 15px;
  background-color: #fff;
}
