.legend-box {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 0.5rem;
}

.legend {
  display: flex;
  justify-content: center;
}

.legend-value {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 0.5rem;
}

.legend-value-square {
  height: 15px;
  width: 15px;
  margin: 0.5rem 0.5rem 0.5rem 0.5rem;
  border-radius: 15px;
}

.legend-value-name {
  font-style: italic;
  font-size: 0.95em;
}
