.login-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
}

.login-logo {
  margin-bottom: 1rem;
}

.login-form {
  display: flex;
  align-items: center;
  justify-content: center;
  // margin-bottom: 1rem;
}

.special-login {
  width: 400px;
}

.login-label, .login-input {
  margin-right: 0.5rem;
}

.login-forpas {
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-forgotten-password {
  margin-top: 1rem;
  color: #4E6CB3;
  opacity: 0.5;
  cursor: pointer;
  transition: 0.3s;
}

.login-forgotten-password:hover {
  opacity: 1;
}
.login-button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
}
