#show-inventory-container {
  height: 100%;
  align-self: baseline;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 15px;
  background-color: #fff;
}

.author-inventory-line {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  &:hover {
    cursor: pointer;
  }
}

.author-inventory-label {
  margin: 0;
}

.author-inventory-number {
  margin: 0;
}

.show-inventory-active {
  background-color: #4E5981;
  border-radius: 15px;
  color: white
}
