.tcd-detail {
    display: flex;
    margin-top: 0.5rem;
    background-color: #E2E2E2;
    border-radius: 15px;
    padding: 0.5rem;
}

.tcd-note {
    width: 85%;
    margin-left: 0.5rem;
    font-style: italic;
    margin-right: 0.5rem;
}