.table-row-details-header {
    display: flex;
    align-items: center;
    justify-content: start;
    margin: 0 0.5rem 1rem 0.5rem;
    padding: 0.25rem 0.5rem 0.25rem 0.5rem;
    border-radius: 15px;
    background-color: #4E5981;
    color: white;
    // font-weight: bold;
}

.trdh-title {
    width: 15%;
}

// .trdh-numbers {
//     width: 70%;
//     display: flex;
//     justify-content: space-around;
// }

.trdh-sold {
    width: 15%;
}

.trdh-price {
    width: 15%;
}

.trdh-comissions {
    width: 15%;
}

.trdh-share {
    width: 15%;
}

.trdh-ganancia {
    width: 15%;
}

.trdh-total {
    width: 10%;
}