.table-header {
  background-color: #4E5981;
  color: white;
  border-radius: 15px;
  display: flex;
  padding: 0.5rem;
}

.table-header-name {
  border-right: 1px solid white;
}

.Canal {
  width: 25%;
  margin-right: 0.5rem;
}

.Vendidos {
  width: 25%;
  margin-right: 0.5rem;
}

.Ganancia.por.libro {
  width: 25%;
  margin-right: 0.5rem;
}

.Total {
  width: 25%;
}
