.table-row-detail {
  display: flex;
  padding: 0 0.5rem 0.5rem 1rem;
}

.tbd-data {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: start;
}

.tbd-book {
  width: 15%;
  font-style: italic;
  padding-right: 0.5rem;
}

// .tbd-numbers {
//   width: 70%;
//   display: flex;
//   justify-content: space-around;
//   align-items: center;
//   p {
//     margin: 0;
//   }
// }

.tbd-quantity {
  width: 15%;
  p {
    margin: 0;
    // font-style: italic;
  };
}

.tbd-price {
  width: 15%;

}

.tbd-comissions {
  width: 15%;
}

.tbd-share {
  width: 15%;
}

.tbd-ganancia {
  width: 15%;
  p {
    margin: 0;
    // font-style: italic;
  };
  // text-align: center;
}

.tbd-total {
  width: 10%;
}
