.table {
  width: 95%;
  // height: 100%;
  background-color: #f8f9fa;
  border-radius: 15px;
  margin: 1rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

.table-bookstore-header-name {
  font-weight: bold;
  text-align: center;
  width: 15%
}

.tbhn-first {
  width: 20% !important;
}

.table-bookstores-no-sales {
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.table-bookstores-no-sales-message {
  font-style: italic
}

.table-header {
  background-color: #4E5981;
  color: white;
  border-radius: 15px;
  display: flex;
  align-items: center;
  padding: 0.5rem;
}

.table-header-name {
  border-right: 1px solid white;
}

.Canal {
  width: 20%;
  margin-right: 0.5rem;
}

.Entregados {
  width: 20%;
  margin-right: 0.5rem;
}

.Vendidos {
  width: 20%;
  margin-right: 0.5rem;
}

.En.tienda {
  width: 20%;
  margin-right: 0.5rem;
}

.Total {
  width: 20%;
}

.enveloppe-table-row {
  background-color: #f8f9fa;
  border-radius: 15px;
}

.envtr-open {
  background-color: #E2E2E2;
  border-radius: 15px;
  padding-top: 0.25rem;
  margin-top: 0.5rem;
}

.table-row {
  display: flex;
  margin: 0.5rem;
  padding: 0.5rem;
  background-color: #f8f9fa;
}

.table-row-sales {
  border-radius: 15px;
  border-bottom: 1px solid #E2E2E2;
}

.table-row-sales:hover {
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5), -1px 0px 5px rgba(255, 255, 255, 0.5);
  cursor: pointer;
}

.table-row-detail {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  margin: 0.5rem;
  text-align: center;
}

.tbd-data {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: start;
}

.tbd-book {
  width: 15%;
  font-style: italic;
  padding-right: 0.5rem;
}

.tbd-quantity {
  width: 15%;
  p {
    margin: 0;
  };
}

.tbd-price {
  width: 15%;
}

.tbd-comissions {
  width: 15%;
}

.tbd-share {
  width: 15%;
}

.tbd-ganancia {
  width: 15%;
  p {
    margin: 0;
  };
}

.tbd-total {
  width: 10%;
}

.tbrd-above {
  display: flex;
}

.table-total {
  background-color: #a1a1a1;
  border-radius: 15px;
  display: flex;
  margin: 0.5rem 0 0.5rem 0;
  padding: 0.5rem 1rem 0.5rem 1rem;
}

.table-row-details-header {
    display: flex;
    align-items: center;
    justify-content: start;
    margin: 0 0.5rem 1rem 0.5rem;
    padding: 0.25rem 0.5rem 0.25rem 0.5rem;
    border-radius: 15px;
    background-color: #E2E2E2;
    color: black;
    font-weight: bold;
    text-align: center;
}

.trdh-subtitle {
    font-weight: 200 !important;
}

.trdh-title {
    width: 15%;
}

.trdh-sold {
    width: 15%;
}

.trdh-price {
    width: 15%;
}

.trdh-comissions {
    width: 15%;
}

.trdh-share {
    width: 15%;
}

.trdh-ganancia {
    width: 15%;
}

.trdh-total {
    width: 10%;
}

.table-row-details {
  border-radius: 15px;
  background-color: #E2E2E2;
}

