.tbr-name {
  text-align: center;
  width: 15%;
}

.tbr-first {
  width: 20% !important;
}

.tbr-first-kindle {
  width: 10%;
}

.tbr-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}