.x-axis {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.x-axis-line {
  border-top: 1px solid black;
}

.x-axis-points {
  display: flex;
  position: relative;
}

.x-axis-number {
  position: absolute;
  top: -4px;
  font-size: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.x-axis-notch {
  border-left: 1px solid black;
  height: 0.5rem;
}
