.x-axis {
  display: flex;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
  padding: 0;
}

.x-axis-line {
  border-top: 1px solid black;
  box-sizing: border-box;
  padding: 0;
}

.x-axis-points {
  display: flex;
  position: relative;
  width: 100%
}

.x-axis-number {
  position: absolute;
  top: -4px;
  font-size: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: translateX(-50%);
}

.x-axis-notch {
  border-left: 1px solid black;
  height: 0.5rem;
}
